@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Mesaj Kutusu</h1>
<table id="datatablesSimple" class="">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tarih</th>
            <th>İsim</th>
            <th>Email</th>
            <th>Telefon Numarası</th>
            <th>Detay</th>
            <th >Sil</th>
            <th>Okundu İşaretl</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.DateTime</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td><a href="/Message/Detail/@item.Id" class="btn btn-outline-success">Detay</a></td>
                <td> <a href="/Message/DeleteMessage/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                
                @if(item.IsRead==false)
                {
                    <td class="alert-success">
                    <input type="hidden" id="IsRead" name="IsRead" value="True">
                        <a href="/Message/IsReadMessage/@item.Id" class="btn btn-outline-danger">Okunmadı<i class="bi bi-x-lg"></i></a>
                    </td>
                }
                else{
                    <td>
                    <input type="hidden" id="IsRead" name="IsRead" value="False">
                        <a href="/Message/IsReadMessage/@item.Id" class="btn btn-outline-success">Okundu<i class="bi bi-check2-all"></i></a>
                    </td>
                }
               </tr>
        }



    </tbody>
</table>
